.mq {display:none;text-indent:-9999px}
.FDerDe {display:none;text-indent:-9999px}
.u5.aoh {display:none;text-indent:-9999px}
td.Bu:last-child {width:220px}
[item] {display: none}
td.WA.xY * { display: none; }

div[class=hi] { display: none; }
img[src*=grexit], img[src*=grexit] + span { display: none; }
table.F.cf.zt td { height: 32px !important; }
