/* Pages on domain: news.ycombinator.com */

/* Highlighting people you care by changing the user id! */
a[href='user?id=muan'],
a[href='user?id=muna'] {
  font-weight: bold; 
  color: #fff !important;
  padding: 1px 3px !important; border-radius: 3px;
  background-color: #ff8000 !important;
}

font[color='#ffffff'] { display: none; }

/* Main table */
body > center > table {
  max-width: 50%;
  background-color: transparent;
}
*, input, textarea { font-size: 14px; line-height: 18px; }

/* Logo */
a[href='http://ycombinator.com'] img { width: 15px; height: 15px; }

/* Header */
body > center > table td[bgcolor='#ff6600'] {
  background-color: transparent;
}
body > center > table td .pagetop {
  font-size: 0px; vertical-align: bottom;
}
body > center > table td .pagetop * {
  font-size: 13px; line-height: 20px;
}
body > center > table td .pagetop > a, body > center > table td .pagetop > a:visited,
body > center > table td .pagetop > .topsel, body > center > table td .pagetop > .topsel a {
  padding: 4px 1px; color: #08c;
  margin: 0 4px; font-size: 12px;
  text-transform: uppercase;
}
body > center > table td .pagetop > .topsel a { color: #656565; }

/* Content */
body > center > table > tbody > tr > td > table:not([style]) { margin-top: 36px; }
body > center > table > tbody > tr > td > table > tbody > tr > td.title a {
  color: #08c;
}
body > center > table > tbody > tr > td > table > tbody > tr > td.title:first-of-type {
  padding: 7px 0;
}
body > center > table > tbody > tr > td > table > tbody > tr > td.title a:visited {
  color: #666;
}
body > center > table > tbody > tr > td > table > tbody > tr[style='height:5px'] {
  height: 15px !important;
}
body > center > table > tbody > tr > td > table > tbody > tr > td.subtext {
  font-size: 10px;
}
body > center > table > tbody > tr > td > table > tbody > tr > td.subtext * {
  font-size: 11px;
}

/* Upvote */
a[id*='up_'] img { display: none; }
.title + td > center > img, td > center > font {
  width: 20px; height: 20px; line-height: 20px;
  background: #f0f0f0; display: block;
  border-radius: 20px; position: relative;
  text-align: center; margin: 5px;
  overflow: hidden;
}
.title + td > center > img:before, td > center > font:before {
  content: "▲"; font-size: 11px; color: #fff !important; display: block;
}
a[id*='up_']:before {
  content: "▲"; font-size: 11px; color: #ff8000;
}
@-webkit-keyframes upup {
  from { line-height: 20px; text-shadow: 0 8px 0 rgba(0,0,0,0.4) }
  to { line-height: 0px; color: rgba(0,0,0,0.1); }
}
a[id*='up_']:hover { -webkit-animation: upup 0.8s ease-out infinite; }
a[id*='up_'] {
  width: 20px; height: 20px; line-height: 20px;
  background: #f0f0f0; display: block;
  border-radius: 20; position: relative;
  text-align: center; margin: 5px;
}

/* Search form */
form[action='//www.hnsearch.com/search#request/all']:hover input {
  z-index: 1;
}
form[action='//www.hnsearch.com/search#request/all'] {
  position: absolute; top: 40px; width: 50%; text-align: right; font-size: 12px;
}
form[action='//www.hnsearch.com/search#request/all'] input { 
  width: 100%; position: relative; z-index: -1; margin-left: -50px;
} 
form[action='//www.hnsearch.com/search#request/all'] input:focus {
  border: 1px solid #ff8000; z-index: 1;
}
    
/* input */
textarea, input[type=text], select {
  border: 1px solid #ddd; padding: 6px;
  width: 100%; border-radius: 2px; -webkit-appearance: none; 
}
select { border-right: 10px solid #d0d0d0; width: 10%; }
textarea:focus, input:focus, select:focus {
  outline: none; box-shadow: none;
}
input[type=submit] {
  border: 0; border-radius: 2px; padding: 6px 10px; font-size: 12px;
  background: #449966; color: white; text-transform: uppercase;
}
    
/* General form tables */
form table td:first-of-type { text-transform: capitalize; line-height: 30px; font-size: 13px; }
    
/* comments */
table td.default ~ td {
  background-color: #ff8000;
}